.updatePass-container{
    width: 100vmax;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: rgb(240, 240, 240);
    position:fixed;
    top: 0;
    left: 0;
}

.passwordUpdate-container{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    padding: 20px;
}
#alert-box{
    position:fixed;
    z-index: 3;
    top: 100px;
  }
.passwordUpdate-container .form-header{
    color: rgb(42, 42, 42);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.password-updateForm {
    padding-top: 20px;
    /* background-color:blue; */
}
.password-updateForm .reset-passwordButt a{
    text-decoration: none;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}
.password-updateForm > div {
    margin-bottom: 16px;
}
.password-updateForm > div input{
    width: 450px;
    border-radius: 5px;
    transition: all .1s;
    border: 1.3px solid rgb(136, 136, 136);
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    padding: 7px 10px;

}
.password-updateForm > div input:focus{
    outline: none;
    background-color: #F7FEFF;
    border-color: #007185;
    box-shadow: 0 0 0 3px #C8F3FA, 0 1px 2px rgba(15,17,17,.15) inset;
}
.reset-passwordButt button{
    padding: 10px 20px;
    background-color: rgb(13, 99, 174);
    border-radius: 5px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    transition: all 0.3s;
    border: none;
}
.reset-passwordButt button:hover{
    padding: 10px 20px;
    background-color: rgb(3, 73, 134);
    cursor: pointer;
    border-radius: 5px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    border: none;
}
.reset-passwordButt{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.input-label{
    font-size: 14.5px;
    padding: 5px 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: rgb(64, 64, 64);
}
.req-RP{
    color: red;
}
.passwordUpdate-container .help-text{
    font-size: 15px;
    padding: 3px 0px;
    color: rgb(131, 131, 131);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}


/*  css for forgot password js */

.forgot-password-container{
    width: 100vmax;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(242, 242, 242);
    position:fixed;
    top: 0;
    left: 0;
}
.ForPass-flex{
    display: flex;
    width: 80%;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.ForPass-flex > div{
    width: 50%;
    
}
.forgot-Img img{
   width: 100%;
}
.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(139, 20, 20); */
    
}
.forgot-passwordForm > div input{ 
    width: 100%;
    border-radius: 5px;
    transition: all .1s;
    border: 1.3px solid rgb(136, 136, 136);
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    padding: 7px 10px;
}
.forgot-passwordForm > div input:focus{ 
    outline: none;
    background-color: #F7FEFF;
    border-color: #007185;
    box-shadow: 0 0 0 3px #C8F3FA, 0 1px 2px rgba(15,17,17,.15) inset;
}
.forgot-passwordForm .recover-btn{
    padding: 10px 20px;
    background-color: rgb(13, 99, 174);
    border-radius: 5px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    transition: all 0.3s;
    border: none;
    width: 100%;
}
.forgot-passwordForm .recover-btn:hover{
    background-color: rgb(6, 77, 138);
    cursor: pointer;
}
.register-error{
    margin-top: 100px;
}
.forgot-passwordForm .form-btn-Wrapper{
   
    padding-top:20px;
}
.forgot-passwordForm h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serifz;
    color: rgb(67, 67, 67);
    text-align: center;
    padding: 10px 0px;
    
}
.forgot-passwordForm{
    width: 70%;
    margin: auto;
}
.forgot-passwordForm .header-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.reset-helpText{
    text-align: center;
    font-size: 15px;
    padding: 10px 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: rgb(123, 123, 123);
}


